.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    border-bottom: 2px solid silver;
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: .5rem;
}

.logo {
    width: 6rem;
    height: 4rem;
    border-radius: 50%;
}

.links_container {
    display: flex;
    list-style: none;
    align-items: center;

}

.links_container li {
    margin-left: 1rem;
}

.links_container li>* {
    text-decoration: none;
    font-weight: bold;
}

.links_container li:last-child {
    border-left: 2px solid silver;
    padding-left: 0.3rem;
}

.links_container li>*:hover {
    display: block;
    transform: translateY(-3px);
}

.before::before {
    content: "'";
}